body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #section1 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #1E88E5;
}
  #section2 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #673ab7;
}
  #section3 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #ff9800;
}
  #section41 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #00bcd4;
}
  #section42 {
    padding-top:50px;
    height:500px;
    color: #fff;
    background-color: #009688;
}

#header {
  background-image: url("http://d5qsyj6vaeh11.cloudfront.net/images/destinations/star%20wars/star-wars-landing/SW-node-Background.jpg");

}

.head-text {
  color: red;
  font-size:80px;
  text-align: center;
}


.jumbotron {
  background-image: url("http://media.moddb.com/images/mods/1/23/22334/auto/7773769005_star-wars.jpg");
  background-size: 100%;
  height: 800px;
  margin-bottom: 0;
  padding-top: 15px;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
.container-clock {
  color: red;
  text-align: left;
  margin-left: 30px;
}

#clockdiv > div{
    padding: 8px;
    border-radius: 3px;
    background: #5f9ea0;
    display: inline-block;
    opacity: 0.7;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #8fbc8f;
    display: inline-block;
}

.smalltext{
    padding-top: 0px;
    font-size: 16px;
}

#swclockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
.sw-container-clock {
  color: red;
  text-align:left;
  margin: 30px;
}

#swclockdiv > div{
    padding: 8px;
    border-radius: 3px;
    background: #5f9ea0;
    display: inline-block;
    opacity: 0.7;
}

#swclockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #8fbc8f;
    display: inline-block;
}

.smalltext{
    padding-top: 0px;
    font-size: 16px;
}
