<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>


  <!-- bootstrap css -->
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
  <body>














      <!-- bootstrap javascript -->
      <script src="lib/js/bootstrap.min.js" charset="utf-8"></script>
      <!-- jquery -->
      <script src="lib/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  </body>
</html>
